{% extends 'base.html' %}

{% block title %}注册-权益说{% endblock %}

{% block content %}
<div class="container-fluid page">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="">
                <div class="panel panel-default sign">
                    <div class="panel-heading">
                        <h3 class="panel-title title">
                            <a href="{% url 'sign_in' %}">登录</a>
                            <b>·</b>
                            <a class="actived" href="{% url 'sign_up' %}">注册</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form class="form">
                            <div class="form-group">
                                <label class="control-label sr-only" for="InputEmail">account_or_email</label>
                                <div class="input-group">
                                    <i class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> </i>
                                    <input type="email" class="form-control" id="InputEmail" placeholder="帐号或邮箱" autofocus>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label sr-only" for="InputPassword">password</label>
                                <div class="input-group">
                                    <i class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> </i>
                                    <input type="password" class="form-control" id="InputPassword" placeholder="密码">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label sr-only" for="RepeatPassword">password</label>
                                <div class="input-group">
                                    <i class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> </i>
                                    <input type="password" class="form-control" id="RepeatPassword" placeholder="重复密码">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary sign-up-button">注册</button>
                            <p class="sign-up-msg">点击 “注册” 即表示您同意并愿意遵守权益说
                                <br>
                                <a target="_blank" href="">用户协议</a>和
                                <a target="_blank" href="">隐私政策</a>。
                            </p>
                        </form>
                    </div>
                    <div class="more-sign">
                        <h6><small>——————社交账号直接注册——————</small></h6>
                        <ul class="list-inline">
                            <li><a class="qq" target="_blank" href=""><i class="iconfont icon-qq"></i></a> </li>
                            <li><a class="weixin" target="_blank" href=""><i class="iconfont icon-weixin"></i></a> </li>
                            <li><a class="weibo" target="_blank" href=""><i class="iconfont icon-weibo"></i></a> </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
